{% extends "flights/layout.html" %}

{% block body %}
    <h1>Flight {{flight.id}}</h1>
    <ul>
        <li>Origin: {{flight.origin}} </li>
        <li>Destination: {{flight.destination}}</li>
        <li>Duration: {{flight.duration}}</li>
    
    </ul>
    <h2>Passengers</h2>
    {%for passenger in passengers%}
        <li>{{passenger}}</li>
        {%empty%}
        <li>No passengers</li>
    {% endfor%}

    <h2>Add passengers</h2>
    <form action="{% url 'flights:book' flight.id %}" method="post">
        {% csrf_token %}
        <select name="passenger" >
            {% for passenger in nonPassengers %}
            <option value="{{passenger.id}}">{{passenger}}</option>
            {% endfor%}
        </select>
        <input type="submit" value="SUBMIT">
    </form>
    
    
    <a href="{% url 'flights:index' %}">SEE ALL FLIGHTS</a>
{% endblock %}